@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
	font-family: 'Poppins', sans-serif;
}

.main{
    background: #F2F2F2;
    display: grid;
    grid-template-rows: 70px 1fr;
    grid-template-columns: 225px 1fr;
    height: 100%;
    min-height: 100vh;
}  
#navigation{
    grid-row: 1/2;
    grid-column: 1/3;
    width: 100%;
    height: 70px;
    grid-row: 1/2;
/* z-index: 1; */
z-index: 99;
background: #F2F2F2;
}

#sidebar{
    z-index: 999;
    grid-column: 1/2;
    grid-row: 1/3;
    background: #5D8FD9;
    height: 100%;
    transition: 0.3s ease;
    display: grid;
    grid-template-rows: 70px 1fr;
}
#sidebar img{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    margin-right: 10px;
}
#sidebar .logo{
    background: #5180C7;
    display: flex !important;
    padding-left: 20px !important;
    align-items: center;
    grid-column: 1/2;
}
#sidebar .tab{
    display: flex;
    align-items: center;
}
#sidebar .tab i {
    color: #fff;
}
#sidebar .tab .nav-link{
    color: #fff;
    margin-left: 13px;
}
#sidebar.active{
    margin-left: -280px;
}
.sidebar_ul li{
    cursor: pointer;
}
.sidebar_ul li a{
   font-size: 15px;
}

.sidebar_ul li:hover > a{
    color: #fff;
}

#content{
    grid-row: 2/3;
    grid-column: 2/3;
}
/* .sidebar_li:hover {
    background: pink;
} */
.nav-item{
    cursor: pointer;
    transition: 0.3s ease-in;
}
.nav-item:hover{
    background: #ecebeb;

}
.nav-item:hover i,
.nav-item:hover .nav-link{
    color: #5D8FD9 !important;
}
/* .account{ 
    border-radius: 100px; 
}  */
.dropdown-toggle::after {
    /* border-right: 0.3em solid #5180C7 !important;
    border-left: 0.3em solid #5180C7 !important; */
    color: #5180C7 !important;
}
.dropdown:hover{
    background: none !important;
}
.account img{
    border: 2px solid #5180C7;
    border-radius: 50%;
    height: 40px;
    width: 40px;
}
.main #navigation .logo {
    width: 220px;
}
.main #navigation #qad_logo{
    height: 30px;
    width: auto;
    margin-right: 10px;
}

.main .so_content{
    display: none;
}

.main .so_content.so_active{
    display: block;
}

.content_wrapper{
    padding: 25px 35px;
    height: 100%;
}
@media screen and (max-width: 574px){
    .main #navigation .logo {
        width: unset;
    }
}
#sidebarCollapse{
    display: none;
}
@media screen and (max-width: 788px){
    #sidebarCollapse{
        display: block;
    }
    #sidebar {
        position: fixed;
        height: 100%;
        left: 0;
        top: 0;
    }
    .content_wrapper{
        grid-column: 1/3;
    }

}




/* MODAL CSS */
.modal .modal-dialog {
    max-width: 500px;
    font-size: 14px;
}
.modal .modal-dialog input[type=text]{
    max-width: 500px;
    font-size: 14px;
    border-radius: 5px;
    max-height: 30px;
    margin-bottom: 10px;
}

.modal .modal-dialog input[type=date]{
    max-width: 500px;
    font-size: 14px;
    border-radius: 5px;
    max-height: 30px;
    margin-bottom: 10px;
}

.modal .modal-dialog input[type=file]{
    max-height: 200px;
    max-width: 200px;
    font-size: 14px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.modal .modal-dialog input[type=email]{
    max-height: 200px;
    max-width: 200px;
    font-size: 14px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.modal .modal-dialog textarea{
    max-width: 500px;
    font-size: 14px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.modal .modal-header, .modal .modal-body, .modal .modal-footer {
    padding: 20px 30px;
}
.modal .modal-content {
    border-radius: 10px;
}
.modal .modal-footer {
    background: #ecf0f1;
    border-radius: 0 0 1px 1px;
}
.modal .modal-title {
    display: inline-block;
    font-size: 16px;
}
.modal .form-control {
    border-radius: 1px;
    box-shadow: none;
    border-color: #dddddd;
}
.modal textarea.form-control {
    resize: vertical;
}
.modal .btn {
    border-radius: 5px;
    min-width: 80px;
}	
.modal form label {
    font-weight: normal;
}	


.custom_btn a{
    text-decoration: none;
 
}